<div class="wrapper closed">
  <div class="side-bar">
    <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
      <circle cx="50%" cy="50%" r="35%" class="logo-circle" />
      <text x="50%" y="50%" text-anchor="middle" fill="#333333" font-size="35px" dy=".4em">CA</text>
      Sorry, your browser does not support inline SVG.
    </svg>
    <a href="#" class="btn btn-toggle d-flex justify-content-center">
      <i class="fa fa-bars fa-2x"></i>
    </a>
    <ul class="sidebar-nav">
      <li class="sidebar-brand text-center">
        <a href="#">
          Can Aktepe
        </a>
      </li>
      <li class="sidebar-item">
        <a href="#">Home</a>
      </li>
      <li class="sidebar-item">
        <a href="#">About</a>
      </li>
      <li class="sidebar-item">
        <a href="#">Projects</a>
      </li>
    </ul>
  </div>
  <div class="content-bar">
    <div class="container-fluid">
      <h2>
        <i class="fa fa-terminal" aria-hidden="true"></i> About</h2>
      <hr>
      <div class="row">
        <div class="col-sm- col-md-3 col-lg-2">
          <img src="/assets/images/can_aktepe.jpg" class="rounded-circle img-fluid profile-picture float-left mr-5 mb-3" alt="Can Aktepe"> 
        </div>
        <div class="col-sm-12 col-md-9 col-lg-10">
          Hello, I'm Can. I was born in istanbul
        </div> 
      </div>
    </div>
  </div>
</div>